<div class="container container-propos">

    <div class="a-propos">
        <div class="a-propos-img-text">
        <div class="a-propos-img">
            <img src="{{ asset('images/thibautGruffy.jpg') }}" alt="thibaut gruffy" class="responsive-img photo z-depth-2">
        </div>
        <div class="a-propos-nom  white-text">
            <h1>Thibaut Gruffy</h1>

        </div>
    </div>
        <div class="a-propos-description white-text center">
            <h4>Back-end développeur junior - Gironde(33)</h4>
            <p><i class="tiny material-icons">home</i> Saint Jean d'Illac - 33127 - Gironde </p>
            <p> <i class="tiny material-icons">phone</i> 06.98.21.71.53</p>
            <p><i class="tiny material-icons">mail</i> thibaut.gruffy@gmail.com</p>
            <p class="dispo"><i class="tiny material-icons">query_builder</i> Disponible à partir de fin août 2017</p>
        </div>
    </div>


</div>
