<div class="container container-propos">

    <div class="a-propos">

        <div class="a-propos-description blue-text text-darken-3 center">
            <h4>Développeur back-end junior - Gironde(33)</h4>
            <p><i class="tiny material-icons">home</i> Saint Jean d'Illac - 33127 - Gironde </p>
            <p> <i class="tiny material-icons">phone</i> 06.98.21.71.53</p>
            <p><i class="tiny material-icons">mail</i> thibaut.gruffy@gmail.com</p>
        </div>
    </div>


</div>
<div class="parallax-container">
    <div class="parallax"><img src="{{ asset('images/railway-2439189_1920test.jpg') }}"></div>
</div>
