<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Thibaut Gruffy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Thibaut Gruffy</title>
    {% include 'styleAndScript/style.html.twig' %}
</head>
<body>

{% block content %}
{% endblock %}

{% include 'styleAndScript/script.html.twig' %}

<footer class="page-footer">
    <div class="footer-copyright black">
        <div class="container">

            © Copyright {{ "now"|date("Y") }} Thibaut Gruffy - Tous droits réservés
            <a class="blue-text text-darken-1 right linkedin" href="https://www.linkedin.com/in/thibaut-gruffy-777713121/" target="_blank">LinkedIn</a>

        </div>
    </div>
</footer>
</body>
</html>