{% extends 'layout.html.twig' %}
{% block content %}
    <ul id="slide-out" class="side-nav grey lighten-3 z-depth-2">
        <div class="a-propos-img-text">
            <div class="a-propos-img">
                <img src="{{ asset('images/thibautGruffy.jpg') }}" alt="thibaut gruffy" class="responsive-img photo z-depth-2">
            </div>
            <div class="a-propos-nom  red-text text-darken-1">
                <h2>Thibaut Gruffy</h2>

            </div>
        </div>
        <hr>
        <li><a href="#propos" class="blue-text text-lighten-1">A propos</a></li>
        <li><a href="#formation" class="blue-text text-lighten-1">Formation </a></li>
        <li><a href="#comp" class="blue-text text-lighten-1">Compétences</a></li>
        <li><a href="#aussi" class="blue-text text-lighten-1">Mais aussi</a></li>
    </ul>

    <a href="#" data-activates="slide-out" class="button-collapse btn-floating btn-large open-menu"><i class="material-icons hamburger  red darken-1 z-depth-2 white-text circle">menu</i></a>

    <span id="propos" class="scrollspy"></span>
    {% include 'aPropos/aPropos.html.twig' %}
    <span id="formation" class="scrollspy"></span>
    {% include 'formation/formation.html.twig' %}
    <span id="comp" class="scrollspy"></span>
    {% include 'competences/competences.html.twig' %}
    <span id="aussi" class="scrollspy"></span>
    {% include 'aussi/aussi.html.twig' %}
{% endblock %}
