/* NAV ET FOOTER */

.open-menu
{
    position: fixed !important;
    bottom: 5%;
    left: 2%;
    z-index: 2000 !important;
}


/* A PROPOS */


.container-propos
{

    background-image: url("../images/abstract-1867838_1920.jpg");
    min-width: 100% !important;
    height: 100vh !important;

}

.a-propos-img-text
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 6%;

}

.photo
{
    width: 350px !important;
}

.a-propos-nom
{
    margin-left: 50px;
    text-align: center;
}

.a-propos-nom h1
{
    font-weight: bold;
    font-size: 5em;
}

.a-propos-description
{
    margin-top: 25px;
}

.a-propos-description h4
{
    font-size: 3em;
    margin-bottom: 25px;
}

.a-propos-description p
{
    margin-bottom: 15px;
    font-size: 1.5em;
}




