/* NAV ET FOOTER */

.open-menu
{
    position: fixed !important;
    bottom: 5%;
    left: 2%;
    z-index: 2000 !important;
}

.page-footer
{
    padding-top: 0 !important;
    margin-top: 50px;
}

.linkedin
{
    font-size: 1.2em !important;
    font-weight: bold;
}

/* A PROPOS */


.container-propos
{
    min-width: 100% !important;
    height: 100vh !important;
    max-height: 100vh !important;
    min-height: 100vh !important;
    background-image: url("../images/wall-2093277_1920test.jpg");
    background-repeat: no-repeat;

}

.a-propos-img-text
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 6%;

}

.photo
{
    width: 150px !important;
    border-radius: 5%;
}

.a-propos-nom
{

    text-align: center;
}

.a-propos-nom h1
{
    font-size: 1.2em;
}

.a-propos-description
{
    padding-top: 15%;
}

.a-propos-description h4
{
    font-size: 3em;
    margin-bottom: 90px;
}

.a-propos-description p
{
    margin-bottom: 15px;
    font-size: 1.5em;
}

/* FORMATION */
.parallax-container {
    height: 400px !important;
}

.container-formation
{
    width: 100% !important;
}

.presentation-formation h2
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.presentation-formation p
{
    margin-bottom: 35px;
}

.presentation-formation a
{
    margin-bottom: 35px;
}

.six-projets
{
    margin-top: 35px;
}

.block-projets
{
    margin-top: 45px;
}

.card-form
{
    min-height: 150px !important;
    max-height: 174px !important;

}

.card-form p
{
    margin-bottom: 15px !important;
}

.langage-projet
{
    font-size: 0.8em;
}

#modal1 p, #modal2 p, #modal3 p, #modal4 p, #modal5 p, #modal6 p
{
    margin-top: 20px;
    margin-bottom: 25px;
}

.contraintes
{
    margin-left: 5%;
    margin-bottom: 25px;
}

.contraintes li
{
    margin-bottom: 10px;
}

.plus-value
{
    font-weight: bold;
    font-size: 1.2em;
}

.carousel
{
    margin-top: 35px;
    margin-bottom: 75px;
    height: 650px !important;
}

/* COMPETENCES */

.titre-comp
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-title
{
    font-size: 0.65em !important;
    margin-bottom: -15px !important;
    font-weight: bold;
}

.img-comp img
{
    min-height: 110px !important;
    max-height: 110px !important;
}

#star-comp
{
    display: flex;
    border-top: 1px solid black;
    padding-top: 25px;
}

.container-comp
{
    padding-bottom: 50px;
}

/* MAIS AUSSI */

.titre-aussi
{
    margin-top: 50px;
    margin-bottom: 75px;
}

.text-aussi
{
    margin-top: 50px;
    margin-bottom: 75px;
    padding-top: 50px;
    padding-bottom: 15px;
    width: 100%;
    min-height: 250px;
}

.icone-aussi p
{
    font-size: 1.2em;
    margin-top: 25px;
}

@media all and (max-width: 1024px)
{

    html
    {
        max-width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .container
    {
        max-width: 90% !important;
    }

    .row
    {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
