<div class="container container-aussi">
    <h2 class="center blue-text text-darken-1 titre-aussi">Parce qu'il n'y a pas que le code dans la vie <i class="small material-icons blue-text text-darken-1">child_care</i></h2>

    <div class="row center">
        <div class="col s6 m3 icone-aussi jeux">
            <i class="large material-icons blue-text text-darken-1 z-depth-2">videogame_asset</i>
            <p class="blue-text text-darken-1">Passionné de jeux vidéo,</p><p class="blue-text text-darken-1">des plus anciens aux plus récents</p>
        </div>
        <div class="col s6 m3 icone-aussi informatique">
            <i class="large material-icons blue-text text-darken-1 z-depth-2">laptop_windows</i>
            <p class="blue-text text-darken-1">Passionné d'informatique</p>
            <p class="blue-text text-darken-1">et des nouvelles technologies</p>
        </div>
        <div class="col s6 m3 icone-aussi tele">
            <i class="large material-icons blue-text text-darken-1 z-depth-2">weekend</i>
            <p class="blue-text text-darken-1">Passionné de films / séries / livres :</p>
            <p class="blue-text text-darken-1">- Science-fiction</p>
            <p class="blue-text text-darken-1">- Heroique fantaisy</p>
            <p class="blue-text text-darken-1">- Manga et Comics</p>
        </div>
        <div class="col s6 m3 icone-aussi voiture">
            <i class="large material-icons blue-text text-darken-1 z-depth-2">time_to_leave</i>
            <p class="blue-text text-darken-1">Permis voiture</p>
            <p class="blue-text text-darken-1">Permis moto</p>
            <p class="blue-text text-darken-1">Véhicules personnels</p>
        </div>
    </div>

</div>