<div class="container container-aussi">
    <h2 class="center blue-text text-darken-1 titre-aussi">Parce qu'il n'y a pas que le code dans le vie <i class="small material-icons blue-text text-darken-1">child_care</i></h2>

    <div class="row center">
        <div class="col s4 m3 icone-aussi jeux">
            <i class="large material-icons blue-text text-darken-1 z-depth-2">videogame_asset</i>
        </div>
        <div class="col s4 m3 icone-aussi informatique">
            <i class="large material-icons blue-text text-darken-1 z-depth-2">laptop_windows</i>
        </div>
        <div class="col s4 m3 icone-aussi tele">
            <i class="large material-icons blue-text text-darken-1 z-depth-2">weekend</i>
        </div>
        <div class="col s4 m3 icone-aussi voiture">
            <i class="large material-icons blue-text text-darken-1 z-depth-2">time_to_leave</i>
        </div>
    </div>
    <div class="text-aussi center blue-grey lighten-4">
        <p class="blue-text text-darken-1">Cliquez sur une icône</p>
    </div>
</div>